h1{
    text-align: center;
    padding-top: 175px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Pacifico', cursive;
    
}
ul{
    text-align: center;
    margin: 5px;
    padding-right: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
}