<h1>About</h1>
<p> Integer egestas mollis iaculis. 
    Maecenas nec placerat purus. 
    Vivamus eleifend urna nec ante fringilla fringilla. 
    Cras facilisis lacus urna, nec accumsan neque sodales eget. 
    Proin lacinia erat in imperdiet accumsan. 
    Sed mattis, odio nec maximus viverra, nunc orci dapibus dolor, id blandit nisi velit at lectus. 
    Phasellus ac convallis ex. Vivamus vel consectetur magna, at tristique lorem. 
    Nulla sollicitudin eleifend ante, et blandit tortor feugiat non. 
    Duis auctor, est nec egestas vestibulum, odio quam dignissim elit, quis lobortis velit metus vitae elit. 
    Integer gravida, lorem in fermentum rhoncus, tellus sem gravida elit, ut auctor magna justo eget risus. 
    Etiam mattis, justo id suscipit lobortis, ante risus sollicitudin arcu, in laoreet eros ligula semper ipsum.</p>
<h2>Technologial Expertise</h2>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>C#</li>
    <li>GitHub</li>
</ul>
